body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(139, 139, 139);
}

.h1_title {
	color: #404040;
}

.h1_description {
	color: lightblue;
}

.nav__wrapper {
	display: flex;
	flex-direction: column;
	background-image: url("_tools_apla.png");
	background-repeat: round;
	max-width: 200px;
	align-items: center;
	padding: 50px 0 50px 0;
}

.nav__socialmedia img,
.nav__list img {
	padding-bottom: 10px;
}

.nav__list--line img {
	width: 100px;
}

.nav__logo {
	padding-bottom: 50px;
}

.content__wrapper {
	display: flex;
	flex-direction: row;
	width: 1600px;
	margin-top: 80px;
	justify-content: space-between;
	position: absolute;
	left: 13%;
	height: 850px;
	top: 0;
}

.left-content__wrapper {
	width: 600px;
	display: flex;
	flex-direction: column;
}

.left-content__icons {
	display: flex;
	justify-content: flex-end;
}

.left-content__graphic img {
	width: 600px;
	margin-bottom: 40px;
}

.left-content__line {
	height: 0px;
	border: 1px solid lightgrey;
	margin-bottom: 75px;
}

.left-content__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 0.2);
}

.left-content__button:first-child {
	background-image: url("button_01.png");
}

.right-content__wrapper {
	width: 750px;
	padding-right: 50px;
	display: flex;
	flex-direction: column;
}

.right-content__graphic {
	height: 500px;
	width: 750px;
	background-color: lightblue;
	margin-bottom: 10px;
}

.right-content__buttons {
	display: flex;
	justify-content: flex-end;
}

.right-content__buttons--downloadCV,
.right-content__buttons--hireme {
	width: 235px;
	height: 92px;
	background-image: url("button_01.png");
	align-self: center;
	margin-top: 40px;
}

.right-content__buttons--downloadCV p,
.right-content__buttons--hireme p {
	text-align: center;
	padding-top: 18px;
	color: white;
}

.content-graphic__top {
	position: absolute;
	left: 40%;
	top: 10%;
}

.content-graphic__bottom {
	position: absolute;
	left: 48%;
	top: 53%;
}

.content-graphic__right {
	position: absolute;
	left: 93%;
	top: 40%;
}
