body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(139, 139, 139);
	position: relative;
}

.h1_title {
	color: #404040;
}

.h1_description {
	color: lightblue;
}

.nav__wrapper {
	display: flex;
	flex-direction: column;
	background-image: url("_tools_apla.png");
	background-repeat: round;
	max-width: 200px;
	align-items: center;
	padding: 50px 0px 50px 0px;
}

.nav__socialmedia img,
.nav__list img {
	padding-bottom: 10px;
}

.nav__list--line img {
	width: 100px;
}

.nav__logo {
	padding-bottom: 50px;
}

.portfolio-content__wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 13%;
	top: 2%;
}

.portfolio-content__content--category {
	display: flex;
	justify-content: space-between;
	width: 600px;
	margin-top: 35px;
	font-weight: bold;
}

.portfolio-content__portfolio {
	display: flex;
	flex-flow: row wrap;
	max-width: 1500px;
	justify-content: space-between;
	margin-top: 20px;
}

.portfolio-content__portfolio > div {
	margin-bottom: 10px;
}

.portfolio-content__portfolio--1-graphic,
.portfolio-content__portfolio--2-graphic,
.portfolio-content__portfolio--3-graphic,
.portfolio-content__portfolio--4-graphic,
.portfolio-content__portfolio--5-graphic,
.portfolio-content__portfolio--6-graphic {
	width: 400px;
	height: 250px;
	background-color: lightslategray;
}

.portfolio__bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10px;
}

.portfolio__bar img {
	height: 50px;
}

.content-graphic__top {
	position: absolute;
	left: 55%;
	top: 10%;
}

.content-graphic__right {
	position: absolute;
	left: 35%;
	top: 30%;
}
